.rank-math-breadcrumb {

    p {
        font-size: var(--wp--preset--font-size--small);
        color: var(--wp--preset--color--text-medium);
        margin: 0;

        a {
            text-decoration: none;
        }
    }
    

}