@use '../abstracts/mixins' as *;

.wp-block-cb-carousel {
    margin-bottom: var(--wp--custom--layout--block-gap);

    &.text-slider {
        margin-bottom: 0;
        p {
            margin: 0;
        }
    }

    .slick-next, .slick-prev {
        top: calc(100% + 1rem);
        width: 4rem;
        height: 4rem;
        z-index: 2;

        @media ($below-mobile-xs) {
            top: 100%;
        }

        &::before {
            content: "→";
            width: 4rem;
            font-family: var(--wp--preset--font-family--font-main);
            height: 4rem;
            display: flex;
            border: 1px solid var(--wp--preset--color--neutral-30);
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            opacity: 1;
        }

        &:hover {
            color: var(--wp--preset--color--neutral-60);
        }
    }

    .slick-next {
        right: calc(50% - 5rem);
    }

    .slick-prev {
        left: calc(50% - 5rem);
    }

    .slick-prev::before {
        rotate: 180deg;
    }

    .slick-dots li button:before {
        color: var(--wp--preset--color--neutral-primary);
        font-size: 1rem;
        
    }

    .slick-dots li.slick-active button:before {
        color: var(--wp--preset--color--neutral-secondary);
    }
}

.wp-block-cb-carousel .slick-next:before, .wp-block-cb-carousel .slick-prev:before {
    color: var(--wp--preset--color--secondary);
}