@use '../abstracts/mixins' as *;

.rank-math-list {
    display: grid;
    column-gap: var(--wp--custom--layout--block-gap);
    row-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;

    @media ($below-tablet) {
        grid-template-columns: 1fr;
        
    }

    .rank-math-list-item {
        border-bottom: 1px solid  var(--wp--preset--color--neutral-30);

        .rank-math-question {
            position: relative;
            width: calc(100% - 1.5rem);
            margin-bottom: 1rem;
            
            &:hover {
                cursor: pointer;
            }
            
            &::after {
                content: url(./assets/icons/chevron-down.svg);
                right: -1.5rem;
                top: 0;
                position: absolute;
                height: 1.5rem;
                width: 1.5rem;
            }
        }

        .rank-math-answer {
            max-height: 0;
            overflow: hidden;
            transition: max-height .4s ease-in-out;
            
        }

        &.active {

            .rank-math-answer {
                max-height: 100vh;
            }
    
            .rank-math-question::after {
                content: url(./assets/icons/chevron-up.svg);
            }
        }
    }
    
    h2.rank-math-question  {
        font-size: var(--wp--preset--font-size--body);
        font-family: var(--wp--preset--font-family--font-main);
        font-weight: 700;
    }
}

