@use '../abstracts/mixins' as *;

.wp-block-query {
    .wp-block-post {
        .wp-block-post-featured-image {
            border-radius: 1rem;
            overflow: hidden;
        }

        a {
            text-decoration: none;
            overflow: hidden;

            img.wp-post-image {    
                transition: transform 1s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .card-blog {
            position: relative;

            .wp-block-post-featured-image {
                border-radius: 1rem 1rem 0 0;
            }

            .taxonomy-category.wp-block-post-terms {
                position: absolute;
                top: 1rem;
                left: 1rem;
                padding: .25rem 0.5rem;
                border-radius: var(--wp--custom--border-radius--rounded);
                z-index: 1;
                background-color: var(--wp--preset--color--primary);

                
            }
        }

        .wp-block-post-excerpt__more-text {
            display: flex;
            margin-top: var(--wp--preset--spacing--20);
            
        }
    }
}


.wp-block-categories-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    
    li.cat-item {
        a {
            text-decoration: none;
            background-color: inherit;
            border: 1.5px solid var(--wp--preset--color--secondary-80);
            border-radius: var(--wp--custom--border-radius--rounded);
            color: var(--wp--preset--color--secondary-80);
            padding: calc(0.5rem - 0px) 1.5rem;
            transition: all 0.2s ease-in-out;
            display: flex;

            &:hover {
                background-color: var(--wp--preset--color--secondary-80);
                color: var(--wp--preset--color--neutral-white);
            }
        }
    }
}


.is-style-is-related-posts .taxonomy-category.has-heading-4-font-size > a {
    color: initial;
    text-decoration: none;
}