<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:group {"tagName":"section","metadata":{"name":"Hero Archive"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|10","bottom":"var:preset|spacing|10","left":"var:preset|spacing|10","right":"var:preset|spacing|10"},"margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<section id="hero" class="wp-block-group" style="margin-top:0;padding-top:var(--wp--preset--spacing--10);padding-right:var(--wp--preset--spacing--10);padding-bottom:var(--wp--preset--spacing--10);padding-left:var(--wp--preset--spacing--10)"><!-- wp:cover {"overlayColor":"primary-10","isUserOverlayColor":true,"minHeight":760,"contentPosition":"bottom center","isDark":false,"align":"wide","style":{"spacing":{"padding":{"right":"0","left":"0"}},"border":{"radius":"16px"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover alignwide is-light has-custom-content-position is-position-bottom-center" style="border-radius:16px;padding-right:0;padding-left:0;min-height:760px"><span aria-hidden="true" class="wp-block-cover__background has-primary-10-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"metadata":{"name":"Title + excerpt"},"className":"is-style-margin-vertical","layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group is-style-margin-vertical"><!-- wp:paragraph -->
<p>ERROR 404</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"fontSize":"display"} -->
<h2 class="wp-block-heading has-display-font-size">¡Ups!... No hemos encontrado lo que buscas.</h2>
<!-- /wp:heading -->

<!-- wp:group {"metadata":{"name":"Extracto"},"layout":{"type":"constrained","contentSize":"640px","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"fontSize":"heading-4","fontFamily":"font-main"} -->
<p class="has-font-main-font-family has-heading-4-font-size">Por favor prueba a hacer nueva búsqueda o pincha para volver al inicio.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:buttons {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30"}}}} -->
<div class="wp-block-buttons" style="padding-top:var(--wp--preset--spacing--30)"><!-- wp:button {"backgroundColor":"accent","textColor":"foreground","className":"is-style-with-arrow","style":{"shadow":"var:preset|shadow|natural","elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}}} -->
<div class="wp-block-button is-style-with-arrow"><a class="wp-block-button__link has-foreground-color has-accent-background-color has-text-color has-background has-link-color wp-element-button" href="https://la-aurora.sumun.dev/" style="box-shadow:var(--wp--preset--shadow--natural)">Ir a la homepage</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></section>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-blog","className":"mt-0"} /-->