<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"section","metadata":{"name":"Hero Blog"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|10","bottom":"var:preset|spacing|10","left":"var:preset|spacing|10","right":"var:preset|spacing|10"},"margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<section id="hero" class="wp-block-group" style="margin-top:0;padding-top:var(--wp--preset--spacing--10);padding-right:var(--wp--preset--spacing--10);padding-bottom:var(--wp--preset--spacing--10);padding-left:var(--wp--preset--spacing--10)"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"overlayColor":"neutral-black","isUserOverlayColor":true,"minHeight":760,"contentPosition":"bottom center","isDark":false,"align":"wide","style":{"spacing":{"padding":{"right":"0","left":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|background"}}},"border":{"radius":"16px"}},"textColor":"background","layout":{"type":"default"}} -->
<div class="wp-block-cover alignwide is-light has-custom-content-position is-position-bottom-center has-background-color has-text-color has-link-color" style="border-radius:16px;padding-right:0;padding-left:0;min-height:760px"><span aria-hidden="true" class="wp-block-cover__background has-neutral-black-background-color has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"metadata":{"name":"Title + excerpt"},"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"fontSize":"display"} -->
<h1 class="wp-block-heading has-display-font-size">Blog</h1>
<!-- /wp:heading -->

<!-- wp:group {"metadata":{"name":"Extracto"},"layout":{"type":"constrained","contentSize":"640px","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"fontSize":"heading-4","fontFamily":"font-main"} -->
<p class="has-font-main-font-family has-heading-4-font-size">Lorem ipsum dolor sit...</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:buttons {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30"}}}} -->
<div class="wp-block-buttons" style="padding-top:var(--wp--preset--spacing--30)"><!-- wp:button {"backgroundColor":"primary-30","textColor":"foreground","className":"is-style-with-arrow","style":{"shadow":"var:preset|shadow|natural","elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}}} -->
<div class="wp-block-button is-style-with-arrow"><a class="wp-block-button__link has-foreground-color has-primary-30-background-color has-text-color has-background has-link-color wp-element-button" style="box-shadow:var(--wp--preset--shadow--natural)">Presupuesto gratuito</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"CTA"},"layout":{"type":"constrained","justifyContent":"right"}} -->
<div class="wp-block-group"><!-- wp:group {"metadata":{"name":"Telefono"},"style":{"spacing":{"blockGap":"0.5rem"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center","justifyContent":"right"}} -->
<div class="wp-block-group"><!-- wp:safe-svg/svg-icon {"svgURL":"https://la-aurora.sumun.dev/wp-content/uploads/2025/10/phone.svg","imageID":252,"imageWidth":48,"imageHeight":48,"dimensionWidth":48,"dimensionHeight":48,"imageSizes":{"full":{"height":48,"width":48,"url":"https://la-aurora.sumun.dev/wp-content/uploads/2025/10/phone.svg","orientation":"portrait"},"medium":{"height":"300","width":"300","url":"https://la-aurora.sumun.dev/wp-content/uploads/2025/10/phone.svg","orientation":"portrait"},"thumbnail":{"height":"150","width":"150","url":"https://la-aurora.sumun.dev/wp-content/uploads/2025/10/phone.svg","orientation":"portrait"}},"style":{"elements":{"link":{"color":{"text":"var:preset|color|accent"}}}},"textColor":"accent"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0px"},"elements":{"link":{"color":{"text":"var:preset|color|neutral-white"}}}},"textColor":"neutral-white","layout":{"type":"default"}} -->
<div class="wp-block-group has-neutral-white-color has-text-color has-link-color"><!-- wp:paragraph -->
<p>Llámanos si lo necesitas</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"heading-4"} -->
<p class="has-heading-4-font-size"><a href="tel:976526256">976 526 256</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:template-part {"slug":"breadcrumbs"} /-->

<!-- wp:group {"metadata":{"name":"Sticky btns"},"style":{"border":{"bottom":{"color":"var:preset|color|primary-10","width":"1px"}},"spacing":{"padding":{"bottom":"var:preset|spacing|30","top":"var:preset|spacing|20"},"margin":{"top":"0","bottom":"0"}},"position":{"type":"sticky","top":"0px"}},"backgroundColor":"background","layout":{"type":"constrained"}} -->
<div id="services-nav-sticky" class="wp-block-group has-background-background-color has-background" style="border-bottom-color:var(--wp--preset--color--primary-10);border-bottom-width:1px;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--30)"></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Sticky btns"},"style":{"border":{"bottom":{"color":"var:preset|color|primary-10","width":"1px"}},"spacing":{"padding":{"bottom":"var:preset|spacing|30","top":"var:preset|spacing|20"},"margin":{"top":"0","bottom":"0"}},"position":{"type":"sticky","top":"0px"}},"backgroundColor":"background","layout":{"type":"constrained"}} -->
<div id="services-nav-sticky" class="wp-block-group has-background-background-color has-background" style="border-bottom-color:var(--wp--preset--color--primary-10);border-bottom-width:1px;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:buttons {"className":"toggle-filter"} -->
<div class="wp-block-buttons toggle-filter"><!-- wp:button {"className":"hidden-desktop hidden-laptop hidden-tablet"} -->
<div class="wp-block-button hidden-desktop hidden-laptop hidden-tablet"><a class="wp-block-button__link wp-element-button" href="#filtro-sticky">Filtrar por</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:categories {"className":"btns-filter"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:query {"queryId":15,"query":{"perPage":2,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]},"layout":{"type":"constrained"}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:block {"ref":142} /-->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Añade texto o bloques que se mostrarán cuando la consulta no devuelva ningún resultado."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"cta-form"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-blog","className":"mt-0"} /-->