<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:template-part {"slug":"hero-2","tagName":"section","area":"header","className":"mt-0"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:template-part {"slug":"breadcrumbs"} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","className":"mt-0"} /-->